.container {
  display:flex;
}

.face {
  height: 60vh;
  margin: 2rem;
  border: 4px pink solid;
  position:absolute;
  z-index: 1;
}

.leftEye {
  position:relative;
  z-index: 2;
  border-radius: 80px;
  height: 4vh;
  margin-top: 140px;
  margin-left: 165px;
  margin-right: 10px;
}

.rightEye {
  position:relative;
  z-index: 2;
  border-radius: 80px;
  height: 4vh;
  margin-top: 140px;
}